aws-cdk-lib
aws-cdk.aws-batch-alpha==2.71.0a0
aws-cdk.aws-servicecatalogappregistry-alpha==2.71.0a0
aws-cdk.aws_glue_alpha==2.71.0a0
#constructs>=10.0.0,<11.0.0

aws-requests-auth
boto3
botocore
botocore
cdk-nag==2.18.10
cryptography
from-root
moto[all]

pre-commit
PyAwsHelper

pylint

pytest
pytest-check
pytest-dotenv
pytest-test-groups
requests
toml
